/*Заголовок опиши */
.decorative-img {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../imeges/Header-img/Headerimg.jpg);
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}

.container-h1 {
  flex-grow: 1;
  display: block;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  .maine-taitle {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title-dark-theme-color;
  }
  
  .button {
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    display: flex;
    width: 200px;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 00px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all 250ms linear;
  &:hover,
  &:focus {
    background-color: $accent-color-button;
    }
  }
}

.h1-slaider {
  background: rgba(47, 48, 58, 0.8);
}
  .text-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;
    color: $title-dark-theme-color;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

