
/*опис лого*/
.header-logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 85px;
    &:hover,
    &:focus {
    color: $accent-color;
  }
  }
  .header-navigation {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ececec;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  
  .logo-web {
    color: #2196f3;
  }
  
  
  
  .navigation-list-link,
  .address-tel,
  .address-emaile {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-light-theme-color;
  }

  .address-tel,
  .address-emaile {
    display: flex;
    align-items: center;
    fill: #757575;
  }
  /*HOVER&FOCUS*/

  .address-emaile:hover,
  .address-emaile:focus {
    color: $accent-color;
    & svg {fill: $accent-color}
  }
  
 /* .address-emaile:hover .address-emaile-svg,
  .address-emaile:focus .address-emaile-svg {
    fill: $accent-color;
  }*/
  
  .address-tel:hover,
  .address-tel:focus {
    color: $accent-color;
    & svg {fill: $accent-color;} 
  }
  
  /*.address-tel:hover .address-tel-svg,
  .address-tel:focus .address-tel-svg {
    fill: $accent-color;
  }*/
  
  
  
  .active {
    color: $accent-color;
  }
  
  
  /*Декоративні ефекти + Векторна графіка*/
  .navigation-line-studio::after {
    display: block;
    background-color: $accent-color;
    width: 47px;
    height: 4px;
    content: "";
    border-radius: 2px;
    transition: all 250ms linear;
  }
  /*лого + навігація*/

.navigation-list-link {
  padding-top: 34px;
  padding-bottom: 34px;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation {
  display: flex;
  align-items: baseline;
}


.navigation-list,
.address-util,
.address-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.address-item {
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
  
}



