/*для мобільного*/
@media screen and (max-width: 767px) {
  .header-navigation {
    position: relative;
    max-width: 480px;
    height: 60px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ececec;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  .menu-btn {
    &.is-open {
      .icon-close {
        display: block;
      }

      .icon-burger {
        display: none;
      }
    }
  }

  .menu-btn .icon-close {
    display: none;
  }


  .menu-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 99;
    top: 60px;
    right: 0;
    width: 100%;
    padding-top: 118px;
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 60px;
    opacity: 0;
    animation-duration: 1000ms;
    display: none;
    
  &.is-open {
    display: block;
    opacity: 1;
    animation-name: linear;
        }
  }
  .logo-container{
    z-index: 100;
  }
  .header-logo {
    font-family: $secondary-font;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    &:hover,
    &:focus {
    color: $accent-color;
  }
  }

  .logo-web {
    color: #2196f3;
  }
  .menu-btn {
    position: relative;
    z-index: 100;
    height: 40px;
    background-clip: transparent;
    border: none;
    padding: 0;
    &.is-open {
      .icon-close {
        display: block;
      }
      &.icon-burger {
        display: none;
      }
    }
  }
  
  
  .navigation-list-link,
  .address-tel,
  .address-emaile {
    display: flex;
    /*flex-direction: column;*/
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-light-theme-color;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  

  .address-tel,
  .address-emaile {
    display: flex;
    align-items: center;
    fill: #757575;
  }
  /*HOVER&FOCUS*/

  .address-emaile:hover,
  .address-emaile:focus {
    color: $accent-color;
    & svg {fill: $accent-color}
  }
  
  .address-tel:hover,
  .address-tel:focus {
    color: $accent-color;
    & svg {fill: $accent-color;} 
  }

  
  .active {
    color: $accent-color;
  }
  
  
  /*Декоративні ефекти + Векторна графіка*/
  .navigation-line-studio::after {
    display: block;
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    content: "";
    border-radius: 2px;
    bottom: 0;
    transition: all 250ms linear;
  }
  /*лого + навігація*/

.navigation-list-link {
  padding-bottom: 8px;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}


.navigation-list,
.address-util,
.address-list {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 justify-content: center;
 margin: 0;
 font-size: 18px;
 line-height: 1.167;
}


.address-item {
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
  &:not(:last-child) {
    margin-bottom: 16px;;
  }
  
}
  
}

@media screen and (min-width: 768px) {

/*опис лого*/
.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
    font-family: $secondary-font;
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 75px;
    &:hover,
    &:focus {
    color: $accent-color;
  }
  }
  .header-navigation {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ececec;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  
  .logo-web {
    color: #2196f3;
  }
  
  .menu-btn {
    display: none;
  }
  
  
  .navigation-list-link,
  .address-tel,
  .address-emaile {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-light-theme-color;
  }

  .address-tel,
  .address-emaile {
    display: flex;
    align-items: center;
    fill: #757575;
  }
  /*HOVER&FOCUS*/

.address-emaile:hover,
  .address-emaile:focus {
    color: $accent-color;
    & svg {fill: $accent-color}
  }
  
.address-emaile:hover .address-emaile-svg,
  .address-emaile:focus .address-emaile-svg {
    fill: $accent-color;
  }
  
 .address-tel:hover,
  .address-tel:focus {
    color: $accent-color;
    & svg {fill: $accent-color;} 
  }

.address-tel:hover .address-tel-svg,
  .address-tel:focus .address-tel-svg {
    fill: $accent-color;
  }
  
  .active {
    color: $accent-color;
  }
  
  
  /*Декоративні ефекти + Векторна графіка*/
 .navigation-line-studio::after {
    display: block;
    background-color: $accent-color;
    width: 47px;
    height: 4px;
    content: "";
    border-radius: 2px;
    transition: all 250ms linear;
  }
  /*лого + навігація*/

.navigation-list-link {
  padding-top: 34px;
  padding-bottom: 34px;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation {
  display: flex;
  align-items:baseline;
  margin-right: 75px;
}


.navigation-list,
.address-util,
.address-list {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.address-list {
  display: flex;
  flex-direction: column;
}

.address-item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.address-item {
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
  
}
}

@media screen and (min-width: 1200px) {
  

/*опис лого*/
.menu-wrapper {
  display: flex;
  
}
.header-logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 85px;
    &:hover,
    &:focus {
    color: $accent-color;
  }
  }
  .header-navigation {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ececec;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  
  .logo-web {
    color: #2196f3;
  }
  
 
  
  .navigation-list-link,
  .address-tel,
  .address-emaile {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-light-theme-color;
  }

  .address-tel,
  .address-emaile {
    display: flex;
    align-items: center;
    fill: #757575;
  }
  /*HOVER&FOCUS*/

.address-emaile:hover,
  .address-emaile:focus {
    color: $accent-color;
    & svg {fill: $accent-color}
  }
  
.address-emaile:hover .address-emaile-svg,
  .address-emaile:focus .address-emaile-svg {
    fill: $accent-color;
  }
  
 .address-tel:hover,
  .address-tel:focus {
    color: $accent-color;
    & svg {fill: $accent-color;} 
  }

.address-tel:hover .address-tel-svg,
  .address-tel:focus .address-tel-svg {
    fill: $accent-color;
  }
  
  .active {
    color: $accent-color;
  }
  
  
  /*Декоративні ефекти + Векторна графіка*/
 .navigation-line-studio::after {
    display: block;
    background-color: $accent-color;
    width: 47px;
    height: 4px;
    content: "";
    border-radius: 2px;
    transition: all 250ms linear;
  }
  /*лого + навігація*/

.navigation-list-link {
  padding-top: 34px;
  padding-bottom: 34px;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation {
  display: flex;
  align-items:baseline;
}


.navigation-list,
.address-util,
.address-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.address-item {
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
  
}

}

