    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $title-dark-theme-color: #ffffff;
    $title-light-theme-color: #212121;
    $accent-color: #2196f3;
    $accent-color-button: #7ec0f7;
    $text-light-theme-color: #757575;
    $btn-background-portfolio: #f5f4fa;
    $secondary-bg-color: #f5f4fa;
    $solcial-icon-white-color: #ffffff;
    $text-white-color: #ffffff;